.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1); // Màu nền mờ
	z-index: 999; // Đảm bảo overlay hiển thị trên tất cả các phần tử khác
}
.update-form {
	position: fixed;
	width: 30%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000; /* Đảm bảo form hiển thị trên cùng */
	h2 {
		margin-top: 0;
	}
	label {
		display: block;
		margin-bottom: 5px;
	}
	input {
		caret-color: red;
		width: 100%;
		padding: 8px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-sizing: border-box;
		outline: none;
	}
	button {
		padding: 10px 20px;
		border: none;
		border-radius: 3px;
		background-color: #007bff;
		color: white;
		cursor: pointer;
		&:hover {
			background-color: #0056b3;
		}
	}
}

.update-form .update-form .update-form .update-form input[type='submit'],
.update-form .update-form input[type='submit']:hover,
.update-form button:hover {
	background-color: #0056b3;
}

.update-form input[type='submit'] {
	margin-right: 10px;
}
